In [ ]:
a = 10

type(a)

int

In [ ]:

if a<10 :
  print("inside the block")
else:
  print("outside the block")

outside the block

In [ ]:
a=10
b=12
if a <10 or b>20:
  print("all ok")
else :
  print("not okk")

not okk

In [ ]:
name = "mit"

In [ ]:
name = input("enter your name")

In [ ]:
name,type(name)

In [ ]:
name = input("enter your name")

In [ ]:
name,type(name)

In [ ]:
name.isupper()
name.islower()
name .isdigit()

In [ ]:
ask your user to enter the name, name should bee all alpha,if not then write as wromng name

In [ ]:
name = input("enter your name")
if name.isalpha():
  print(name)
else :
  print("wrong name")

In [ ]:
moblie = input("enter your mobile number")
if len(mobile) == 10:
  print(mobile)
else:
  print("wrong number")

In [ ]:
salary = input("enter your salary")
if salary.isdigit():
   salary = int(salary)

  if salary < 5000:
      print("low")
  elif salary < 10000:
  print("ok")
  elif salary < 20000:
      print("mid")
  elif salary < 30000:
      print("high")
  else :
      print("very high")

In [ ]:
marks = input("enter your marks ")
round(marks)
if marks<=100 and marks >=0:
  marks = int(marks)
  if marks > 75:
    print("distinction")
  elif marks >60:
    print("first class")
  elif marks > 50:
    print("second class")
  elif marks > 35:
    print("pass")
  else:
    print("fail")

else:
  print("invalid enter only integer")

List

In [ ]:
l1 = []
l1.append(1)

In [ ]:
l1.extend("word")
l1

In [ ]:
l1.index("w")

In [ ]:
l1.insert(l1.index("w")+1,100)
l1

In [ ]:
name = """hi how are you?
started learning python.
it's really interesting."""
print(name)

In [ ]:
name[:]

In [ ]:
name[-10:-5]

In [ ]:
name[3:12]

In [ ]:
name[12:3]

In [ ]:
name[5:6]

In [ ]:
name[-4:-12]

In [ ]:
name[::2]

In [ ]:
name[::-2]

In [ ]:
L1 = [‘a’ , ‘b’, 20, 30, ‘t’, 100, 300, 400, ‘Happy’, ‘major’]

In [ ]:
L1 = ['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

In [ ]:
L1

In [ ]:
L1[::3]

In [ ]:
L1[::-2]

In [ ]:
L1.index(400)

In [ ]:
L1[8]

In [ ]:
L1[-2]

In [ ]:
type(L1[4])

In [ ]:
L1[5:8]

In [ ]:
l2 =[1,2,3,5,['a', 'b','work hard'],100 , 200, "Success"]

In [ ]:
l2[:]

In [ ]:
l2[4]

In [ ]:
l2[1:5]

In [ ]:
l2[7]

In [ ]:
l2[7][2]

In [ ]:
l2[7][2:]

In [ ]:
l2[:3]

In [ ]:
l2[3:]

In [ ]:
l2[4][1] ='BEE'
l2

In [ ]:
l2[4].remove('BEE')

In [ ]:
l2[4]
l2

In [ ]:
l2.append({'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']})

In [ ]:
l2

In [ ]:
l2[-1]['insect']

In [ ]:
d1 = {'a' : 10,  'b':20, 'c':30}
l2.insert(1,d1)

In [ ]:
l2

In [ ]:
l2[1]['a']

In [ ]:
L2 = [1,2,3,5,(90,40,50,10),'Python',400,
      ['a','b','work hard'],100,200,'Success',
      (200,300,'Hundreds')]

In [ ]:
l2[4][2]

In [ ]:
l2[5][:]

In [ ]:
while True:
    try:
        salary_input = input("Enter employee salary per year (e.g., 8.5 for 8.5 lpa): ")
        salary = float(salary_input)
        break
    except ValueError:
        print("Invalid input. Please enter a numerical value for salary.")

rating = input("Enter rating (A/B/C/D): ").upper()
if salary <= 5:
    if rating == 'A':
        increment = 16
    elif rating == 'B':
        increment = 12
    elif rating == 'C':
        increment = 10
    elif rating == 'D':
        increment = 6

elif salary <= 10:
    if rating == 'A':
        increment = 14
    elif rating == 'B':
        increment = 10
    elif rating == 'C':
        increment = 8
    elif rating == 'D':
        increment = 6

elif salary <= 15:
    if rating == 'A':
        increment = 8
    elif rating == 'B':
        increment = 6
    elif rating == 'C':
        increment = 4
    elif rating == 'D':
        increment = 0

elif salary <= 23:
    if rating == 'A':
        increment = 7
    elif rating == 'B':
        increment = 5
    elif rating == 'C':
        increment = 4
    elif rating == 'D':
        increment = 0

else:
    print("Salary range not defined")
    increment = None

if increment is not None:
    print(f"Increment percentage: {increment}%")
else:
    print("Could not determine increment.")

In [ ]:
salary = float(input("Enter employee salary per year (in LPA): "))
rating = input("Enter rating (A/B/C/D): ").upper()


if salary <= 5000:
    if rating == 'A':
        increment = 16
    elif rating == 'B':
        increment = 12
    elif rating == 'C':
        increment = 10
    elif rating == 'D':
        increment = 6

elif salary <= 10000:
    if rating == 'A':
        increment = 14
    elif rating == 'B':
        increment = 10
    elif rating == 'C':
        increment = 8
    elif rating == 'D':
        increment = 6

elif salary <= 15000:
    if rating == 'A':
        increment = 8
    elif rating == 'B':
        increment = 6
    elif rating == 'C':
        increment = 4
    elif rating == 'D':
        increment = 0

elif salary <= 230000:
    if rating == 'A':
        increment = 7
    elif rating == 'B':
        increment = 5
    elif rating == 'C':
        increment = 4
    elif rating == 'D':
        increment = 0

else:
    print("Salaryinvalid")
    increment = null

if increment is not null:
    new_salary = salary + (salary * increment / 100)

In [ ]:
list1 = [10,30,56,23,92,57,33]
list1.sort(reverse = False) / (reverse = True)
print(list1)

In [ ]:
a=[1,2,3,4,5,['rice','orange','apple']]

In [ ]:
a.append(6)

In [ ]:
print(a)

In [ ]:
a.remove(4)
print(a)

In [ ]:
a.pop(0)
print(a)

In [ ]:
a.pop(3)
print(a)

In [2]:
list1 = [1,2,'a',3,4,'b','3','100',[1,2,3]]
list1

[1, 2, 'a', 3, 4, 'b', '3', '100', [1, 2, 3]]

seperate all elements from the list based on their datatype

In [6]:
integers =[]
strings = []
lists = []
for i in list1:
   if type(i)== int:
    integers.append(i)

   elif type(i)==str:
    strings.append(i)

   elif type(i)==list:
    lists.append(i)

print("integers:" ,integers)
print("strings:" ,strings)
print("lists:" ,lists)

integers: [1, 2, 3, 4]
strings: ['a', 'b', '3', '100']
lists: [[1, 2, 3]]

In [ ]:
['even' if i%2 == 0 else 'odd' for i in range(10)]

In [ ]:
l1=['1','2','5','6']
l2=['a','b','c','d']
list(zip(l1,l2))

In [ ]:
n ='asmitha'
for i in range(len(n)):
    print(n[:i+1])

In [ ]:
"{:*^10}".format('MIT')

In [ ]:
my_dict = {'physics': 67, 'maths': 87}

In [ ]:
now = {}

for i in my_dict:
    print(i, my_dict[i])
    my_dict[i] = my_dict[i] * 2

    if i == "maths":
        now[i] = my_dict[i]

print(now)

physics 67
maths 87
{'maths': 174}

In [ ]:
stock{"tata": 133.34,
      "info":200.12,
      "nifty":{"adani":500,"tata":600},
      "smo":{120,120,150},
      "tcs":120}

In [ ]:
for i in stock:
  print(type(stock[i]))
  if ((type(stock[i]) == int) or ((type(stock[i])) == float)):
    if stock[i]==600:
      print(i)
  else :
    if type

In [ ]:
l= [{'key'} ,{'subkey':1},{'key'} : {'subkey':10},{'key'} : {'subkey':5}]

SyntaxError: invalid syntax (ipython-input-1150859114.py, line 1)

In [ ]:
dict = {}

rollno=input("roll number")
name = input("enter name")
marks = int(input("marks"))
dict["naame"] = rollno
dict["name"] = name
dict["marks"] = marks

print(dict)

roll number23
enter nameashhu
marks34
{'naame': '23', 'name': 'ashhu', 'marks': 34}

In [ ]:
name = input("enter name"):
marks = int(input("marks")):
if len(s_dict.keys()) == 0:
  s_dict.update(1:("name" :name, "marks" : marks))
else:
if len(s_dict.keys())+1:
  s_dict.update(rollno("name":name, "marks" : marks))

SyntaxError: invalid syntax (ipython-input-1280347667.py, line 1)

In [ ]:
while  true:
  print (a)
  if a>b:
    break
 q=a+b

 while true:

  a=a+b
  if a>b:
    break

In [ ]:
a,b = 0,16
while a<b:
  b=b-1
  if bin

In [ ]:
obj = islice(11,3,0)

In [ ]:
d1="class" :12,
"rollno":()

In [ ]:
a=100

In [ ]:
str(a)

'100'

In [ ]:
list(a)

TypeError: 'int' object is not iterable

In [ ]:
tuple(a)

TypeError: 'int' object is not iterable

In [ ]:
dict(a)

TypeError: 'int' object is not iterable

In [ ]:
set(a)

TypeError: 'int' object is not iterable

In [ ]:
float(a)

100.0

In [ ]:
while True:
  try:
    n=input("please enter an integer between 1-9:")
    print(n)
    n=float(n)
    print(n)
    if n<1 or n>9:
      raise Exception()
    else:
      break
  except ValueError:
    print('Alphabets are not allowed here')
  except Exception:
    print('enter number between 0 and 9')
  except:
    print('not valid integer, try again..')
print('great you en tered the number!!')

In [ ]:
snames=[]

In [ ]:
snames.append("20")

In [ ]:
snames

['20']

In [ ]:
snames.extend("30")

In [ ]:
snames.append("45")

In [ ]:
snames.extend("work")

In [ ]:
snum=[1, 'a', 'b',2 , 3]

In [ ]:
snames+snum

['20', '3', '0', '45', 'w', 'o', 'r', 'k', 1, 'a', 'b', 2, 3]

In [ ]:
snum = snum + snames

In [ ]:
snum

[1, 'a', 'b', 2, 3, '20', '3', '0', '45', 'w', 'o', 'r', 'k']

In [ ]:
snames = ['20','40','45','56']

In [ ]:
snum=snum + snames

In [ ]:
snum

[1,
 'a',
 'b',
 2,
 3,
 '20',
 '3',
 '0',
 '45',
 'w',
 'o',
 'r',
 'k',
 '20',
 '3',
 '0',
 '45',
 'w',
 'o',
 'r',
 'k']

11. Create one list l1 having two elements and l3 having 7 elements. Now at 4th position add l1

In [8]:
l1=['8','8']
l1

['8', '8']

In [9]:
l3=['7','9','6','9','4','3','2']
l3

['7', '9', '6', '9', '4', '3', '2']

In [12]:
l3.insert(3,l1)
print(l3)

['7', '9', '6', ['8', '8'], '9', '4', '3', '2']

12. Collection is the list having values [1,2,3,[‘a’, ‘b’, ‘c’], 100, ‘Nisha’, 20.50, 90.10 ] if the data is in integer or float then multiply with 5.

· From the collection delete the record for “Nisha”

· Find the location of 20.50

In [23]:
 list=[1,2,3,['a', 'b', 'c'], 100, 'Nisha', 20.50, 90.10 ]
 list

[1, 2, 3, ['a', 'b', 'c'], 100, 'Nisha', 20.5, 90.1]

In [26]:
a=list[:]
print(a)

[1, 2, 3, ['a', 'b', 'c'], 100, 'Nisha', 20.5, 90.1]

In [27]:
for i in range(len(a)):
  if type(a[i])==int:
     a[i] = a[1]*5
  elif type(a[i])==float:
     a[i] = a[1]*5

print(a)

[10, 10, 50, ['a', 'b', 'c'], 50, 'Nisha', 50, 50]

In [21]:
list.remove('Nisha')
print(list)

[250, 250, 1250, ['a', 'b', 'c'], 1250, 1250, 1250]

In [30]:
loc = list.index(20.50)
print(loc)

6

13. Create a comprehensive list for square upto 10

In [31]:
square = [i**2 for i in range(1,11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

14. Create the comprehensive list to find number divisible by 13 till 200

In [34]:
divisible = [i for i in range(1,201) if i%13 == 0]
print(divisible)

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

15. Create the list which is divisible by 4 from 300 to 400

In [40]:
div=[]

for i in range(300,400):
  if i % 4 == 0:
     div.append(i)
print(div)

[300, 304, 308, 312, 316, 320, 324, 328, 332, 336, 340, 344, 348, 352, 356, 360, 364, 368, 372, 376, 380, 384, 388, 392, 396]

16. Create a comprehensive list to generate list up to x, y as a number. For example if x = 3 list will be x_list = [0,1,2] and y=2 then y_list =[0,1]

Then generate a new list based on all combination of x and y.

For example: if x = 1 and y =2 then x_list = [0] and y_list = [0,1]

And output will be [[0,0],[0,1]]


If x=2 and y = 2 then output will be [[0,0],[0,1][1,0],[1,1]]

In [ ]:
x_list=[]
y_list=[]

In [ ]:
x=3
y=2
for i in range(0,x)
   print(i = i+1)
for p in range(0,y)
   print(p = p+1)

In [5]:
s1={2,4,5,5,6,7}
s2={2,4,4,5,6,7}

print(s1 | s2)
print(s1 & s2)
print(s1 - s2)

{2, 4, 5, 6, 7}
{2, 4, 5, 6, 7}
set()

In [6]:
#24. Ask user to enter the name and DOB and generate the password based on first name 4 characters and @ddmm. For example name = SURESH and DOB = 05-05-1978 then password will be SURE@0505

name = input("enter your name")
dob  = input("enter yor date of birth")

print(name)
print(dob)

def gen_pass(name,dob):
   first4 = name[:4]
   password = first4 +"@"+ dob
   return password
password= gen_pass(name,dob)
print("password=" , password)

enter your nameashumitu
enter yor date of birth11042004
ashumitu
11042004
password= ashu@11042004

26. Create the format mentioned here.

*

* *

* * *

* * * *

In [7]:
for i in range (1,5):
   print("*" *i)

*
**
***
****

In [10]:
for i in range (4,0,-1):
   print("*" *i)

****
***
**
*

28. Str_val = “ABCD” then create the format as mentioned below:

A

A B

A B C

A B C D

In [18]:
str_val="ABCD"
for i in range(1, len(str_val)+1):
  for j in range(i):
    print(str_val[j], end=" ")
  print()

A
A B
A B C
A B C D

29. Create the format mentioned below:

A

BB

CCC

DDDD

In [21]:
str_val = "ABCD"
for a in range(len(str_val)):
  print(str_val[a] * (a + 1), end=" ")

A BB CCC DDDD

30. Create the format mentioned below:

1

22

333

4444



31. Val = “ABCD” based on the Val, create the format mentioned below

D

DC

DCB

DCBA


32. Ask user to enter the string. If string is UPGRAD then output must be

D

DA

DAR

DARG

DARGP

DARGPU

In [22]:
number = '1234'
for n in range(len(number)):
   print(number[n]*(n+1))

1
22
333
4444

In [32]:
val="ABCD"
for v in range(len(val)-1,-1,-1):
  for p in range(len(val)-1,v-1,-1):
     print(val[p],end=" ")
  print()

D
D C
D C B
D C B A

33. Create a list of odd numbers from 1 to 10

1. Using for loop

2. Using comprehensive list







Multiply each and every element by 2 and display the answer


36. List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]


Multiply each and every element from list2 by 2 and store the answer in list3

In [45]:
list=[]
for i in range(1,11):
   if i%2==1:
    list1= list.append(i)
print(list)

[1, 3, 5, 7, 9]

In [42]:
list=[i for i in range(1,11) if i%2==1]
print(list)

[1, 3, 5, 7, 9]

In [46]:
#34. Create even number list using for loop from 200 to 250
list=[]
for i in range(200,301):
  if i%2==0:
    list1=list.append(i)
print(list)

[200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300]

In [56]:
list5=[2,70,'work', 'para', 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
print(list5)

[2, 70, 'work', 'para', 2.5, [1, 2, 3], (1, 2), {1, 2}, {1: 'a', 2: 'b'}, 3, 10, 302.5]

In [60]:
#35. List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]

#Multiply each and every element by 2 and display the answer

list=[]
for a in list5:
  if isinstance(a,(int,float)):
  #if (type(a)==int) or (float):
    list.append(a*2)
  else:
    list.append(a)
print(list)

[4, 140, 'work', 'para', 5.0, [1, 2, 3], (1, 2), {1, 2}, {1: 'a', 2: 'b'}, 6, 20, 605.0]

37. Create a function to accept marks from user utilize exception concept to validate proper marks.

def val_marks()
try:
marks=integer(user)
if marks<0 or marks>100:
rais
except:



user= input("enter your marks")
result=val_marks()


38. Create a function to validate user first name/last name. User first name/last name should contain only characters. No special characters, numbers, space in name

39. Create a function to accept mobile number. Mobile number should contain 10 digits. No Special character, alphabets and space.

In [67]:
def val_marks():
 try:
   marks=int(user)
   if marks<0 or marks>100:
       raise ValueError("entered number must be between 0 to 100 only")
   return "entered marks are valid",marks
 except ValueError:
   return "invalid ",{ValueError}
user= input("enter your marks")
result=val_marks()
print(result)

enter your marks567
('invalid ', {ValueError('entered number must be between 0 to 100 only')})

In [ ]:
#Create a function to validate user first name/last name. User first name/last name should contain only characters. No special characters, numbers, space in name

condition = " NOTE : name should contain only characters. No special characters, numbers, space in name"
print(condition)
def val_user(fname,lname):
  full_name= fname + lname
  if full_name.isalpha():
     return "input is valid"
  else:
     return "input is invalid please check the condition :----",condition

fname= input("enter your first name (only char,no special char,num,space):")
lname= input("enter your last name (only char,no special char,num,space):")
result=val_user(fname,lname)
print(fname + lname,"is--",result)

 NOTE : name should contain only characters. No special characters, numbers, space in name

In [ ]:
#41. Create a empty dictionary and ask user to enter values as name, DOB, mobile number add all the details in dictionary with customer number as 1 for first time.
 If user try to enter another value, then number should increase as 2 with new details and previous values should not change.

For example:

{}

{1:{name : "Sachin", "DOB": "21-06-1965" , "mobile": "1234123423"}}

In [ ]:
info_dict={}
cust_id =1
name=input("enter your name: ")
dob=input("enter dob informat (ddmmyyyy): ")
mobile_num=input("enter your mobile number ")
details={"name": name,"DOB": dob,"mobile": mobile}
info_dict[cust_id]=details
cust_id +=1
print(info_dict)

In [ ]:
42. Based on the above example create the dictionary and save the same in a cust_info.txt or cust_info.log

#43. Based on the above example read the file cust_info.txt . check if dictionary any information is available in the file.
#If there is information then read the dictionary store into one variable and then append new information of customer if added.

#44. Create a table cust_info as sr_no, name, DOB, mobile. Ask user to enter the information from python code.
 #Validate all fields and after validation insert records in the table.

 def validate_all(name, mobile):
    if not name.isalpha():
        return False, "Invalid Name (chars only)"
    if not (mobile.isdigit() and len(mobile) == 10):
        return False, "Invalid Mobile (10 digits only)"
    return True, "Valid"

print(f"{'SR_NO':<8} {'NAME':<15} {'DOB':<12} {'MOBILE':<15}")
print("-" * 50)

for cid, data in info_dict.items():
    print(f"{cid:<8} {data['name']:<15} {data['DOB']:<12} {data['mobile']:<15}")




51. Write a program to find largest number in the list.

52. Write a program to check frequency of each element in the list.

53. There are two string l1 =[ 1,2,3,4,5] and l2 =[3,2,8,7,9] then write a program to find common elements in the list.

In [ ]:
#46. Create a function to calculate age till now.
from datetime import datetime
def cal_age():
   birth_year =iint(nput("enter your birth year in (yyyy): "))
   present_year = datetime.now().year
   age = present_year - birthyear
   return age
age = cal_age()
print("your present age is",age)

In [ ]:
#47. Create a function to check age eligibility for given customer based on DOB. Function will take two input DOB and ELIGIBILITY age.

def check_age():
   eligibility_age=18
   dob=int(input("enter your dod in format of (ddmmyyyy): "))
   age=input("enter your current age")

   if age >= eligibility_age:
    return "youu passed the eligibilty age criteria"
  else:
    return "your age is not matching with the elibility criteria "

age = check_age()
print(age)

In [ ]:
#Create a function to check if string is palindrome or not ? For example, if input is NITIN then reverse of the string is same then it is palindrome.
#If input is ANIL then reverse is LINA which is not same then it is not palindrome.

def check_pal():
  name=input("Enter your name: ")
  return name
  if name[::-1] == name:
    return "Entered string is palindrome"
  else:
    return "it is not a palindrome"

a=check_pal()
print(a)

In [12]:
#49. Create a function to generate a Fibonacci Series. 0 1 1 2 3 5 8 13 21 34 ….. upto 100
def gen_fibb():
    a=0
    b=1
    print(a,end="")
    for i in range(100):
      if b > 100:
          break
      print(b, end=" ")
      avar=a
      a=b
      b=var+a
    print(i)

fibb=gen_fibb()
print(fibb)

01

NameError: name 'var' is not defined

In [5]:
#51. Write a program to find largest number in the list.

list=[2,5,7,4,8,1,9]
#num = max(list)
num=list[0]
for i in range(len(list)):
  if list[i] > num:
    num = list[i]

print("largest num is --", num)

largest num is -- 9

In [3]:
#52. Write a program to check frequency of each element in the list.
list=[4,5,2,5,8,1,9,4,6,3,2]
unique_ele=[]
for num in list:
  if num is not in unique_ele:
  unique_ele.append(num)

for elements in unique_ele:
  count=list.count(elements)
print(f"{element}: {count}")

SyntaxError: invalid syntax (ipython-input-2203605615.py, line 5)

In [2]:
#53. There are two string l1 =[ 1,2,3,4,5] and l2 =[3,2,8,7,9] then write a program to find common elements in the list.

l1=[1,2,3,4,5]
l2=[3,2,8,7,9]
l3=[]
for num in l1:
  if num in l2:
    l3.append(num)

print(l1)
print(l2)
print("common elements", l3)

[1, 2, 3, 4, 5]
[3, 2, 8, 7, 9]
common elements [2, 3]