In [14]:
[x*x for x in range (1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:

[x for x in range(1,51) if x%2 ==0]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [9]:
list1= ['asmitha','velmula']
print([ x.upper() for x in list1])

['ASMITHA', 'VELMULA']

In [8]:
list2=[-1,-3,94,3,4,5,6,]
print([x for x in list2 if x >= 0])

[94, 3, 4, 5, 6]

In [7]:
l=[(x,x**2) for x in range(1,6)]
l

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [6]:
str1 = 'asmithavelmula'
[x for x in str1 if x in ['a','e','i','o','u']]

['a', 'i', 'a', 'e', 'u', 'o']

In [15]:
list3 =[[1,2,3],[4,5,6],[7,8,9]]
[num for row in list3 for num in row ]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
str2 = 'erggaqwezou'
[x for x in str2 if x in ['a','e','i','o','u'] ]

['e', 'a', 'e', 'o', 'u']

In [17]:
str3 = ['jsj','ydths','dfsd','wytwddfyf']
[len(x) for x in str3]

[3, 5, 4, 9]

In [18]:
str4 =['ahofe','wegw','Aoibneie','ojefoe']
[x for x in str4 if x[0]== 'a' or x[0]=='A']

['ahofe', 'Aoibneie']

In [19]:
listint1 = [1,2,3,4,5,6,7,8,9,10]
["even" if x % 2 == 0 else "odd" for x in listint1]

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [20]:
[x for x in range(1,101) if x % 15 == 0]

[15, 30, 45, 60, 75, 90]

In [ ]:
[[f'{i} x {j} = {i*j}' for j in range(1,11)] for i in range(1,6)]

In [21]:
dict1 = {1 : 'a', 2 : 'mitu', 3 : 'asmitha', 4: 'velmula'}
[x for x in dict1.keys()]

[1, 2, 3, 4]

In [22]:
str5 = '1qw2ssdv3434'
[x for x in str5 if x.isdigit() == True]

['1', '2', '3', '4', '3', '4']

In [25]:
str6 = 'velmula asmitha'
a =[x for x in str6 if x.isalpha() == True]
print("".join(a))

velmulaasmitha

In [33]:
str7 = 'asmitha velmula'
set_str6 = set()
unique = set()
for x in str7 :
    if x in set_str6:
        unique.add(x)
    else:
        set_str6.add(x)
print(list(unique))

['m', 'a', 'l']

In [32]:
del list

In [36]:
str6 = 'asmitha velmula'
[x for x in str6.split("a")]

['', 'smith', ' velmul', '']

In [37]:
list_a = [1,2,3,4,5]
list_b = ['a','b','c','d','e']
[(x,y) for x in list_a for y in list_b]

[(1, 'a'),
 (1, 'b'),
 (1, 'c'),
 (1, 'd'),
 (1, 'e'),
 (2, 'a'),
 (2, 'b'),
 (2, 'c'),
 (2, 'd'),
 (2, 'e'),
 (3, 'a'),
 (3, 'b'),
 (3, 'c'),
 (3, 'd'),
 (3, 'e'),
 (4, 'a'),
 (4, 'b'),
 (4, 'c'),
 (4, 'd'),
 (4, 'e'),
 (5, 'a'),
 (5, 'b'),
 (5, 'c'),
 (5, 'd'),
 (5, 'e')]

Lamda function

In [38]:
funct1 = lambda a, b: a + b
print(funct1(5, 3))

8

In [39]:
funct2 = lambda x : x % 2 == 0
print(funct2(4))

True

In [40]:
funct3 = lambda s: s[-1]
print(funct3("asmitha"))

a

In [41]:
nums = [1,2,3,4]
funct4 = list(map(lambda x: x**2, nums))
print(funct4)

[1, 4, 9, 16]

In [42]:
nums = [1,2,3,4,5]
funct5 = list(filter(lambda x: x % 2 != 0, nums))
print(funct5)

[1, 3, 5]

In [43]:
funct6 = lambda s: s == s[::-1]
print(funct6("sds"))

True

In [44]:
funct8 = lambda a,b,c: max(a,b,c)
print(funct8(10, 25, 15))

25

In [46]:
funct9 = lambda s: s[::-1]
print(funct9("asmitha velmula"))

alumlev ahtimsa

In [47]:
nums = ["1","2","3"]
funct10 = list(map(lambda x: int(x), nums))
print(funct10)

[1, 2, 3]

In [49]:
funct11 = lambda a,b: a if a>b else b
print(funct13(10, 20))

20

In [50]:
funct14 = lambda x: x % 5 == 0
print(funct14(25))

True

In [51]:
nums = [1,2,3]
funct15 = list(map(lambda x: x+10, nums))
print(funct15)

[11, 12, 13]

In [52]:
dict_2 = [{"name":"A","age":25},{"name":"B","age":20}]

In [53]:
funct16 = sorted(dict_2, key=lambda x: x["age"])
print(funct16)

[{'name': 'B', 'age': 20}, {'name': 'A', 'age': 25}]

In [54]:
funct17 = lambda ch: ch.lower() in "aeiou"
print(funct17("A"))

True

In [55]:
str4 = ["sahil","sadanand","developer","dhuri"]
funct18 = list(filter(lambda x: len(x) > 5, str4))
print(funct18)

['sadanand', 'developer']

In [56]:
nums = [1,2,2,3,3,4]
seen = set()
funct20 = list(filter(lambda x: x not in seen and not seen.add(x), nums))
print(funct20)

[1, 2, 3, 4]